{% extends 'base.html.twig' %}

{% block body %}
    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>TypeProduct</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <section class="jumbotron text-center">
            <div class="container" >
            <h1 class="jumbotron-heading">Type Product</h1>
            </div>
            </section>
            <a  href="{{ path('typeproducts_create')}} " class ='btn btn-success'>Add Type</a>
            {% for TypeProduct in TypeProducts %}
                <tr>
                    <th scope="row">{{ TypeProduct.id }}</th>
                    <td>{{ TypeProduct.name }}</td>
                    <td>
                         <a href="{{ path('typeproducts_details', {'id': TypeProduct.id}) }} " class='btn btn-success'>View</a> 
                         <a href="{{ path('typeproducts_edit', {'id': TypeProduct.id}) }} " class='btn btn-success'>Edit</a> 
                         <a href="{{ path('typeproducts_delete', {'id': TypeProduct.id}) }} " class='btn btn-success'>Delete</a> 

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
