{% extends 'base.html.twig' %}

{% block body %}
    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>TypeProduct</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for TypeProduct in TypeProducts %}
                <tr>
                    <th scope="row">{{ TypeProduct.id }}</th>
                    <td>{{ TypeProduct.name }}</td>
                    <td>
                        {#<a href="{{ path('todo_details', {'id': todo.id}) }} " class='btn btn-success'>View</a>#}
                        {#<a href="{{ path('todo_edit', {'id': todo.id}) }}" class='btn btn-default'>Edit</a>#}
                        {#<a href="{{ path('todo_delete', {'id': todo.id}) }}" class='btn btn-danger'>Delete</a>#}
                         <a href="{{ path('typeproducts_details', {'id': TypeProduct.id}) }} " class='btn btn-success'>View</a> (add this line)
                         <a href="{{ path('typeproducts_edit', {'id': TypeProduct.id}) }} " class='btn btn-success'>Edit</a> (add this line)
                         <a href="{{ path('typeproducts_delete', {'id': TypeProduct.id}) }} " class='btn btn-success'>Delete</a> (add this line)

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
