{% extends 'base.html.twig' %}

{% block body %}
    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Product</th>
                <th>Information</th>
               <th>Price</th>
                <th>Quantity</th>
                <th>Type</th>

            </tr>
            </thead>
            <tbody>
            {% for Product in Products %}
                <tr>
                    <td>{{ Product.NameProduct }}</td>

                    <td>{{ Product.Information }}</td>

                    <td>{{ Product.Price }}</td>
                    <td>{{ Product.Quantity }}</td>
                    <td>{{ Product.Type }}</td>

                    <td>
                        <a href="{{ path('product_details', {'id': Product.id}) }} " class='btn btn-success'>View</a>
                        <a href="{{ path('product_delete', {'id': Product.id}) }}" class='btn btn-default'>Delete</a>
                        <a href="{{ path('product_edit', {'id': Product.id}) }}" class='btn btn-danger'>Edit</a> 
                

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
